
{{#photostream}}
		<div class="grid_8 photostream_photo">
			<a href="{{url}}"><img src="/uploads/large/{{filename}}" /></a>
		</div>
		<div class="grid_3">
			<h2>image</h2>
			<p>story</p>
		</div>
		<div  style="float:left; margin-bottom: 30px;"></div>
{{/photostream}}
{{^photostream}}
	<p>No photos, upload some.</p>
{{/photostream}}
