<h1>{{username}}'s photos</h1>

{{#own_page}}
	<div>
		Dashboard | 
		Sets | 
		Profile | 
		Contacts
	</div>
{{/own_page}}

{{#photostream}}
	<div class="photosream_photo">
		<h3>{{title}}</h3>
		<img src="/uploads/original/{{filename}}" style="width: 500px;" />
	</div>
{{/photostream}}
{{^photostream}}
	<p>No photos, upload some.</p>
{{/photostream}}
