<html>
<head>
<style>

#user_header * {
	color: white;
}
	
</style>

{{#scripts}}
    <script type="text/javascript" src="{{.}}"></script> 
{{/scripts}}

    <link type="text/css" href="/media/css/reset.css" rel="stylesheet" media="screen" /> 
    <link type="text/css" href="/media/css/text.css" rel="stylesheet" media="screen" /> 
    <link type="text/css" href="/media/css/960.css" rel="stylesheet" media="screen" /> 
{{#styles}}
    <link type="text/css" href="{{file}}" rel="stylesheet" media="{{media}}" /> 
{{/styles}}

</head>
<body>

{{#flash}}
	{{flash}}
{{/flash}}

<div id="content" class="container_12">
{{>content}}
</div>

<div id="footer">
</div>

</body>
</html>
