<h1>Sign up</h1>

{{#err}}
	Errors occured 
{{/err}}

<form method="post">
Email <input type="text" name="email" /><br />
Username <input type="text" name="username" /><br />
Password <input type="password" name="password" /><br />
Confirm Password <input type="password" name="password_confirm" /><br />
<input type="submit" value="Sign up" />
</form>
